.sites-list-right {
  @include flex-center();
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  @include font(500, 16px, 1.63, 0.03em);
  color: var(--title-text-color);
  background: #f5f4fa;

  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.sites-item-right {
  margin-right: 8px;
  margin-bottom: 50px;
  &:last-child {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.sites-div {
  position: relative;
  overflow: hidden;
}

.sites-div-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  .sites-link:hover &,
  .sites-link:focus & {
    transform: translateY(0);
  }
}

.sites-div-text {
  @include font(400, 18px, 1.56, 0.03em);
  color: var(--primary-background-color);
}

.sites-list-left {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.sites-item-left {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.sites-bottom {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.sites-title {
  @include font(700, 18px, 2, 0.06em);
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.sites-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(141, 34, 34, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
