.team__heading {
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
}

.card {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.card__item {
  background-color: var(--primary-background-color);
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card__name {
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;
  color: var(--title-text-color);

  margin-bottom: 10px;
}

.card__text {
  @include font(400, 16px, 1.19, 0.03em);
  text-align: center;
}
