.modal {
  position: absolute;
  background-color: var(--primary-background-color);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(0);
  transition: transform 250ms linear;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  & .modal {
    transform: translateX(-100%);
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  @include flex-center();
}

.icon-close {
  width: 70%;
  height: 70%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-button:hover &,
  .modal-button:focus & {
    fill: var(--link-color);
  }
}
